# Bật RewriteEngine để xử lý các luật dưới đây
RewriteEngine On

# Nếu yêu cầu là tệp tĩnh trong thư mục 'public', hãy phục vụ nó trực tiếp
RewriteCond %{REQUEST_URI} ^/public/
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.*)$ - [L]

# Nếu file không tồn tại trong thư mục 'public', chuyển đến index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Thiết lập Cache-Control và Expires Headers cho các tệp tĩnh trong 'public'
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
    ExpiresByType text/html "access plus 1 week"
    ExpiresByType application/pdf "access plus 1 month"
    ExpiresByType image/x-icon "access plus 1 year"
</IfModule>

<IfModule mod_headers.c>
    # Áp dụng Cache-Control cho các tài nguyên tĩnh trong 'public'
    <FilesMatch "\.(ico|jpg|jpeg|png|gif|js|css|svg)$">
        Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>
</IfModule>
